ul li{
    display: inline-block;
    list-style-type: none;
    padding:0.5rem;
    margin:0.5rem;
    border-radius: 5px;
    color:  #3b5998 ;
    cursor: pointer;
    box-shadow: #3b5998;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
     box-shadow: 0 8px 6px -6px black;
     border: solid 1px rgba(128, 128, 128, 0.158);
     font-size: 1.5rem;
}
ul li:hover{
    background-color:  #3b5998 ;
    color:white;
    transition: background-color,color 2s;
    /* transition: color 2s; */
    

}