.Navbar{
    text-align: center;
    margin-bottom: 0.5rem;
    padding: 1.5rem;
}
.main{
    display: grid;
    grid-template: 3fr 2fr/1fr 4fr;
    grid-column-gap:1rem;
}
.menu>div{
    width: 12rem;
    height: 3.5rem;
    padding:1rem;
    margin:1rem;
    border-radius: 5px;
    color:  #3b5998 ;
    cursor: pointer;
    box-shadow: #3b5998;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
     box-shadow: 0 8px 6px -6px black;
     border: solid 1px rgba(128, 128, 128, 0.158);
     font-size: 1.2rem;
     background-color: aliceblue;
}
.menu{
    border: solid 1px black;
    height: 30rem;
    margin: 1rem;
    padding: 1rem;
    box-shadow: #3b5998;
     border: solid 1px rgba(128, 128, 128, 0.158);
     font-size: 1.2rem;
     font-weight: 600;
     background-color: #3b5998;
     border-radius: 5px;
     text-align: left;

}
.menu>div:hover{
  font-size: 1.3rem;
    transition: font-size 1s;
}
.content{
    margin-top: 1rem;
}