input{
    width: 10rem;
}
.form{
    display: flex;
    flex-direction: column;
}
#submit{
    background-color: black;
}
#submit:hover{
    cursor: pointer;
}

#password,#username{
    width: 15rem;
}