.fa{
    font-size: 4rem;
    color:#941e1a;
    display: inline-block;
    border: solid 1px #3b5998;
    padding: 1.5rem;
    border-radius: 5px;
    border: solid 1px rgba(128, 128, 128, 0.158);
    border-radius: 5px;

}

.file-load{
    padding: 1rem;
    border-radius: 5px;
   
}
.title{
    font-size: 2rem;
}