.login{
    
    width: 30%;
    height:20rem;
    margin: 5% 35% 0 35%;
    border: solid 1px black;
    color: #17307a;

    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
     box-shadow: 3px 8px 6px 3px black;
     border: solid 1px rgba(128, 128, 128, 0.089);
     border-radius: 5px ;
   
   
}
.header{
    padding-top: 3rem;
    font-size: 2rem;
    font-weight: 900;
    color: #132d7c;
}

.form{
    padding: 5% 30%;
}


@media screen and (max-width: 900px) {
    .events{
        grid-area: 2/1/span2/span 3;
       
        padding: 1rem
    }
    
}