*{
    background-color: #ebebee0c;
}
.header{
    text-align: center;
}
.main{
    display: grid;
    width: 100%;
    grid-template: 1fr /1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-gap:1rem 1rem;
}
.quiz-box{
    grid-area: 1/2/span 1/span 1;
    display: grid;
    grid-template: 2rem 1fr 4rem  1fr/1fr  ;
    box-shadow: #3b5998;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
     box-shadow: 0 8px 6px -6px black;
     border: solid 1px rgba(128, 128, 128, 0.158);
     border-radius: 5px;
     background-color: #3b589817;
   
   
}

.contestants{
    display: grid;
    grid-template: 1fr/repeat(2,1fr);
    grid-auto-rows: 1fr;
    margin-left: 1rem;
    box-shadow: #3b5998;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
     box-shadow: 0 8px 6px -6px black;
     border: solid 1px rgba(128, 128, 128, 0.158);
     border-radius: 5px;
     background-color: #3b589817;
}
.whoseturn{
    justify-content: center;
    padding: 0 38%;
    padding-bottom: 1rem;
    
   
}

.answers, .question{
   
    margin-left: 1rem;
    padding: 1rem;
}
.leaderboard{
    box-shadow: #3b5998;
    grid-area: 1/3/span 1/span 1;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
     box-shadow: 0 8px 6px -6px black;
     border: solid 1px rgba(128, 128, 128, 0.158);
     border-radius: 5px;
     background-color: #3b589817;

}
.timer{
    margin-top: 0.5rem;
   
}
